@keyframes transformingUp {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animatedComponent {
    animation: transformingUp 1s;
}
